<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levels</key>
	<array>
		<dict>
			<key>green</key>
			<dict>
				<key>x</key>
				<integer>110</integer>
				<key>y</key>
				<integer>110</integer>
			</dict>
			<key>blue</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>blue</key>
			<dict>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>100</integer>
			</dict>
			<key>green</key>
			<dict>
				<key>x</key>
				<string></string>
				<key>y</key>
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
